:host ::ng-deep {
    table {
      text-align: center;
        thead {
      background: linear-gradient(90deg, #6a11cb, #2575fc);
            .mat-header-cell {
              color: #FFF;
              text-align: center;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}
