:host ::ng-deep {
    table {
      text-align: center;
        thead {
            background-color: #bc1059!important;
            .mat-header-cell {
              color: #FFF;
              text-align: center;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}
